<!-- <form action="/posts" method="post">
  <label for="name">Title:</label>
  <br />
  <input type="text" name="title" id="title" />
  <br />
  <br />
  <label for="content">Content:</label>
  <br />
  <textarea name="content" id="content" rows="4" cols="50" ></textarea>
  <br />
  <br />
  <input type="submit" />
</form> -->

<%= render 'form', post: @post %>
